
<div class="wrapper crawler">
    <h1 class="title">CRAWLER</h1>

    <div class="js-div-crawling-box crawling-box">
        <input class="js-input-c-p-n-id default" type="text" placeholder="네이버 PLACE 아이디 또는 URL 전체 입력" />
        <button class="js-button-start-crawling default">CRAWLING</button>
    </div>

    <div class="filter-wrapper">
        <select class="js-select-status default">
            <option value="RUNNING" selected>실행중 (RUNNING)</option>
            <option value="FINISHED">완료됨 (FINISHED)</option>
            <option value="DUPLICATED">중복됨 (DUPLICATED)</option>
            <option value="NO_PLACE">없음 (NO_PLACE)</option>
            <option value="ERROR">오류 (ERROR)</option>
            <option value="ALL">전체 (ALL)</option>
        </select>
    </div>

    <div class="js-div-crawler-list crawler-list"></div>

</div>

