
<div class="wrapper crawler">
    <div class="js-div-refresh refresh"><i class="fas fa-redo"></i></div>

    <h1 class="title">CRAWLER</h1>

    <div class="js-div-crawling-box crawling-box">
        <input class="js-input-c-p-n-id default" type="text" placeholder="네이버 PLACE 아이디 또는 URL 전체 입력" />
        <button class="js-button-start-crawling default"><i class="fab fa-python"></i>&nbsp;&nbsp;CRAWLING</button>
    </div>

    <div class="filter-wrapper">
        <select class="js-select-status default">
            <option value="RUNNING">실행중 (RUNNING)</option>
            <option value="FINISHED">완료됨 (FINISHED)</option>
            <option value="DUPLICATED">중복됨 (DUPLICATED)</option>
            <option value="NO_PLACE">없음 (NO_PLACE)</option>
            <option value="ERROR">오류 (ERROR)</option>
            <option value="ALL" selected>전체 (ALL)</option>
        </select>
        <select class="js-select-admin default">
            <option value="ALL">전체</option>
            <option value="whwhdtk">이영로</option>
            <option value="logicador">서원영</option>
            <option value="jongmin">이종민</option>
        </select>

        <div class="js-div-row-count row-count">
            <span></span> rows
        </div>
    </div>

    <div class="js-div-crawler-list crawler-list">
    </div>

    <button class="default js-button-more-crawler more-crawler"><i class="far fa-chevron-down"></i></button>

</div>