
<div class="wrapper login">
    <h1 class="title">LOGIN</h1>

    <div class="login-box">

        <p>ID</p>
        <input class="js-input-id default" type="text" placeholder="아이디 입력"  />

        <p>PASSWORD</p>
        <input class="js-input-password default" type="password" placeholder="비밀번호 입력" />

        <button class="js-button-login default">LOGIN</button>

    </div>
</div>
