
<div class="wrapper place">
    <h1 class="title">PLACE</h1>

    <div class="search-box">
        <input class="js-input-place-name default" type="search" placeholder="PLACE 이름 입력" />
        <button class="js-button-search-place default"><i class="fas fa-search"></i>&nbsp;&nbsp;SEARCH</button>
    </div>

    <div class="filter-wrapper">
        <select class="js-select-parent-location default"></select>
        <select class="js-select-child-location default"></select>

        <div class="js-div-row-count row-count">
            <span></span> rows
        </div>
    </div>

    <div class="js-div-place-list place-list"></div>

    <button class="default js-button-more-place more-place"><i class="far fa-chevron-down"></i></button>
</div>
